	<style type="text/css">
	body {
			background-color: red
			}
		h1 {
			font-size: 28 px;
			color: yellow
			}
		.resaltado
			{
				color: yellow;
				font-family: "verdana"
			}
		.resaltado1
			{
				color: blue;
				font-family: "times new roman"
			}
		.resaltado2
			{
				color: red;
				font-family: "arial black"
			}
	</style>